<section style="height: unset;" id="faq" class="faq section-bg">
    <div style="min-height: 70vh!important;" class="container">

        <div class="section-title">
            <h2>Solicitudes Pendientes de Pago</h2>
        </div>

        {{#if pendientes}}
        <div class="referencia">
            <div class="d-flex justify-content-around align-items-center w-auto">
                <i class='custom-icon bx bx-check-circle icon-help icon-check'></i>
                <p class="refer-text check" style="margin: 0 0 0 5px">Pago Completado</p>
            </div>
            <div class="d-flex justify-content-around align-items-center w-auto">
                <i class='custom-icon bx bx-x-circle icon-help icon-x'></i>
                <p class="refer-text rechazado" style="margin: 0 0 0 5px">Rechazado</p>
            </div>
            <div class="d-flex justify-content-around align-items-center w-auto">
                <i class='custom-icon bx bx-info-circle icon-warning'></i>
                <p class="refer-text pendiente" style="margin: 0 0 0 5px">Pendientes de Pago</p>
            </div>
        </div>

        <div class="faq-list" id="contenedorSolicitudes">
            <ul>
                {{#each pendientes}}
                <li data-aos="fade-up">
                    <div id="pendiente_{{id}}" class="solicitud-titulo d-flex justify-content-start align-items-center">
                        <i id="estado_{{id}}" class='custom-icon bx bx-info-circle icon-warning'></i>
                        <input class="estado-pago" type="hidden" id="pagado_{{id}}" value={{ya_pago}}>
                        <a id="pendienteLink_{{id}}" data-toggle="collapse" class="collapse collapsed"
                            href="#pendiente_id_{{id}}" aria-expanded="false">
                            Prestacion: <span class="text-secondary"> {{nombre}} </span> <br>
                            Fecha del Turno: <span class="text-secondary">{{fecha_solicitud}} </span>
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                    </div>
                    <div id="pendiente_id_{{id}}" class="collapse" data-parent=".faq-list" style="">
                        <input type="hidden" id="pendientePrecio_{{id}}" value="{{precio}}">
                        <input type="hidden" id="pendienteUsuario_{{id}}" value="{{id_usuario}}">
                        <input type="hidden" id="pendientePrestacion_{{id}}" value="{{nombre}}">


                        <p class="refer-text">Prestacion: {{nombre}}</p>
                        <p class="refer-text">Total a Pagar: <strong> ${{precio}} </strong></p>
                        <p class="text-danger">Los turnos que no sean abonados 48 horas antes de su fecha pueden ser
                            cancelados.</p>

                        <div class="d-flex justify-content-between align-items-center flex-res">

                            <button id="botonPagar_{{id}}" data-toggle="modal" class="btn btn-success btn-pagar">Pagar
                                Solicitud</button>

                        </div>
                    </div>
                </li>
                {{/each}}


            </ul>
        </div>
        {{else}}
        <div style="pointer-events: none; margin:auto; height: 100%" id="solicitudCarta"
            class="solicitud-titulo d-flex justify-content-center align-items-center">
            <i class='custom-icon bx bx-info-circle icon-warning m-r-10'></i>
            <a class="text-secondary">
                Por el momento no tienes ningun servicio pendiente de pago
            </a>
        </div>
        {{/if}}
    </div>
</section>