<section id="faq" class="section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Pacientes Registrados</h2>
        </div>
        {{!-- <section class="limiter">
        <div class="container-table100"> --}}
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Nombre</th>
                                <th class="cell100 column1">DNI</th>
                                <th class="cell100 column2">E-Mail</th>
                                <th class="cell100 column3">Telefono</th>
                                <th class="cell100 column4">Edad</th>
                                <th class="cell100 column5">Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            {{#each pacientes}}
                            <tr class="row100 body">
                                <td class="cell100 column1"> {{apellido}} {{nombre}}</td>
                                <td class="cell100 column2">{{dni}}</td>
                                <td class="cell100 column2">{{email}}</td>
                                <td class="cell100 column3">{{telefono}}</td>
                                <td class="cell100 column4">{{edad}}</td>
                                <td class="cell100 column5">
                                    <div style="width: 70%;" class="d-flex justify-content-center align-items-center">
                                        <a data-toggle="tooltip" data-placement="top" title="Ver Perfil del Paciente"
                                            href="/paciente?id={{id}}" target="_blank" class="boton-opcion btn-primary">
                                            <i style="font-size: 2rem;" class="custom-icon fas fa-user"></i>
                                        </a>

                                        {{!-- <button class="boton-opcion btn-danger">
                                            <i class="custom-icon fas fa-user-slash"></i>
                                            
                                        </button> --}}
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);

        $(window).on('resize', function () {
            ps.update();
        })
    });		
</script>