<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Ultimas Solicitudes de Turnos</h2>
        </div>

        <div class="referencia">
            <div class="d-flex justify-content-around align-items-center w-auto">
                <i class='custom-icon bx bx-check-circle icon-help icon-check'></i>
                <p class="refer-text check" style="margin: 0 0 0 5px">Confirmado</p>
            </div>
            <div class="d-flex justify-content-around align-items-center w-auto">
                <i class='custom-icon bx bx-x-circle icon-help icon-x'></i>
                <p class="refer-text rechazado" style="margin: 0 0 0 5px">Rechazado</p>
            </div>
            <div class="d-flex justify-content-around align-items-center w-auto">
                <i class='custom-icon bx bx-info-circle icon-warning'></i>
                <p class="refer-text pendiente" style="margin: 0 0 0 5px">Pendientes de Aprobación</p>
            </div>
        </div>

        <div class="faq-list">
            <ul>
                {{#each solicitudes}}
                <li data-aos="fade-up">
                    <div id="solicitudCarta_{{id}}"
                        class="solicitud-titulo d-flex justify-content-start align-items-center">
                        <i id="estado_{{id}}" class='custom-icon bx bx-info-circle icon-warning'></i>
                        <a id="solicitudLink_{{id}}" data-toggle="collapse" class="collapse collapsed"
                            href="#solcitud_id_{{id}}" aria-expanded="false">
                            Paciente: <span class="text-secondary">{{apellido}} {{nombre}} </span> <br>
                            DNI: <span class="text-secondary"> {{dni}} </span><br>
                            Solicitado el: <span class="text-secondary">{{fecha_solicitud}} </span>
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                    </div>
                    <div id="solcitud_id_{{id}}" class="collapse" data-parent=".faq-list" style="">
                        <p class="refer-text">Telefono: {{telefono}}</p>
                        <p class="refer-text">E-mail: {{email}}</p>
                        <p class="refer-text">Horario de Preferencia: {{hora_inicio}} - {{hora_fin}}</p>
                        <p class="refer-text">Dia de Preferencia: {{nombre_dia}}</p>
                        <p class="refer-text">Imagen ilustrativa: "aca va la imagen"</p>
                        {{#if mensaje_solicitud}}
                        <p class="refer-text">Mensaje del solicitante: {{mensaje_solicitud}}</p>
                        {{else}}
                        <p class="refer-text">Mensaje del solicitante: -vacio-</p>
                        {{/if}}

                        <div class="d-flex justify-content-between align-items-center p-4">
                            <button class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter{{id}}">Programar Turno</button>
                            <button id="rechazar_{{id}}" class="btn btn-danger btn-event-control">Rechazar
                                Solicitud</button>
                            {{!-- <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter">
                                Launch demo modal
                            </button> --}}

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter{{id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div style="background-color: var(--light);" class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Programar Turno</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="modal-title">A continuación indique la fecha, el horario y la
                                                prestación a realizar. <br>
                                                El paciente sera notificado via e-mail.
                                            </p>
                                            <div class="pt-3 pb-1">
                                                <div class="form-group">
                                                    <label for="fecha">Fecha del Turno:</label>
                                                    <input class="form-control" type="date" name="fecha"
                                                        id="fecha_{{id}}" required>
                                                    <div id="error_{{id}}" class="d-none text-danger p-2">
                                                        Debe especificar la fecha del turno
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="horario">Horario del Turno:</label>

                                                    <select class="form-control" name="horario" id="horario_{{id}}">
                                                        {{#each ../horarios}}
                                                        <option value={{id}}> {{hora_inicio}} - {{hora_fin}}
                                                        </option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="prestacion">Prestacion a Realizar:</label>

                                                    <select class="form-control" name="prestacion"
                                                        id="prestacion_{{id}}">
                                                        {{#each ../prestaciones}}
                                                        <option value={{id}}> {{nombre}}
                                                        </option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancelar</button>
                                            <button id="confirmar_{{id}}" type="button"
                                                class="btn btn-success btn-event-control">Confirmar</button>
                                            <button id="hiddenButton_{{id}}" style="display: none;"
                                                data-dismiss="modal"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}

            </ul>
        </div>

    </div>
</section>