{{!-- solicitar turno --}}

<!-- End Header -->
<section style="height: unset;" id="appointment" class="appointment section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Solicitar un turno</h2>
            <p>
                Complete el formulario con un dia y un horario
                tentativo para su turno. Luego evaluaremos su solicitud y nos pondremos en contacto con usted.
            </p>
        </div>

        <form id="solicitudTurno" action="" method="POST" class="php-email-form">
            <div class="form-row">
                <div class="col-md-4 form-group">
                    {{!-- <input id="userId" type="hidden" name="user_id" value={{userData.id}}> --}}
                    <input disabled type="text" class="form-control" name="from_email" id="from_email"
                        placeholder="Email" data-rule="text" data-msg="Debes ingresar un email valido"
                        value={{userData.nombre}} />
                    <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" name="from_email" id="apellido" placeholder="Email"
                        data-rule="text" data-msg="Debes ingresar un apellido valido" value={{userData.apellido}}
                        disabled />
                    <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                    <input type="email" class="form-control" name="from_email" id="from_email" placeholder="Email"
                        data-rule="email" data-msg="Debes ingresar un email valido" value={{userData.email}} disabled />
                    <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                    <input type="tel" class="form-control" name="tel" id="tel" placeholder="Teléfono"
                        data-rule="minlen:4" data-msg="Debes ingresar un telefono valido" value={{userData.telefono}}
                        disabled />
                    <div class="validate"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 form-group">
                    <label for="dia">Dia de Preferencia:</label>
                    <select class="form-control" name="dia" id="dia">
                        {{#each dias}}
                        <option value={{id_dia}}> {{nombre_dia}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label for="dia">Horario de Preferencia:</label>
                    <select class="form-control" name="horario" id="horario">
                        {{#each horarios}}
                        <option value={{id}}> {{hora_inicio}} - {{hora_fin}}
                        </option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div style="margin-top: 15px" class="form-row">
                <div class="col-md-4 form-group">

                    <label for="ficha">Por favor, adjunte una imagen que sea lo mas descriptiva posible del
                        problema</label>
                    <input required id="imagen" type="file" class="form-control" name="imagen" />
                </div>
            </div>

            <div class="form-group">
                <textarea style="resize: none;" id="msg" class="form-control textarea-form" name="msg" rows="5"
                    placeholder="Mensaje (opcional)"></textarea>
                <div class="validate"></div>
            </div>
            <!-- <div class="mb-3">
          <div class="loading">Cargando</div>
          <div class="error-message"></div>
          <div class="sent-message">Su solicitud de turno a sido enviada con exito. ¡Muchas gracias!</div>
        </div> -->
            <div style="display: none" class="text-center error-div">
                <h5>
                    Se debe solucionar estos errores antes de enviar:
                </h5>
                <ul id="errorList" class="error-list"></ul>
            </div>
            <div class="text-center">
                <button class="boton-submit" id="sendBtn">
                    Solicitar Turno
                </button>
            </div>
        </form>
    </div>
</section>

{{!-- 
<div id="preloader"></div> --}}
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/venobox/venobox.min.js"></script>
<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="assets/vendor/counterup/counterup.min.js"></script>
<script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- Template Main JS File -->
{{!-- <script src="assets/js/contact.js"></script> --}}